* {
    margin: 0;
}

hr {
    border: 1.2px solid #333333;
}

h1 {
    font-family: Arial Black;
    font-size: 48px;
}

h4 {
    font-family: Arial Black; 
    padding:  5px 0 5px 0;
}

h5 {
    font-family: Arial; 

}

#root {
    display: flex;
    flex-direction: row;
    
}

#nav {
    background: #FFDD3C;
    padding: 20px 20px 20px 30px;
}

#intro {
    margin-bottom: 80px;
}

#special {
    color: #ffffff;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
    padding-top: 5px;
}

#descr {
    padding: 20px 20px 20px 30px;
    background: #FDFD96;
}

p:not(.highlight) {
    text-align: justify;
    padding: 5px 0 10px 0;
}

ul {
    padding-top: 5px;
    padding-bottom: 10px;
}

.grid-item-1 {
    grid-area: item1;
}

.grid-item-2 {
    grid-area: item2;
}

.grid-item-3 {
    grid-area: item3;
}

.grid-container {
    display: grid;
    grid-template-areas: 'item1 item3'
                         '. item2'; 
}

.project-preview{
    margin-top: 15px;
    width: 450px;
    height: 250px;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); 
}

.project-preview:hover {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

figcaption {
    font-style: italic;
    font-size: .9rem;
    padding: 2px;
    margin-bottom: 30px;   
}