* {
  margin: 0;
  box-sizing: border-box;
}

hr {
  border: 1px solid #333333;
  margin-bottom: 5px;
}

svg {
  vertical-align: middle;
  margin-right: 5px;
}

h1 {
  font-family: Arial Black;
  font-size: 3rem;
}

h4 {
  font-family: Arial Black;
  padding: 0.5rem 0 0.5rem 0;
}

h5 {
  font-family: Arial;
}

.root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  line-height: 1.4rem;
}

.nav {
  min-width: 25vw;
  background: #fdfd96;
  padding: 1.2rem 1.2rem 1.2rem 1.8rem;
}

.intro {
  margin-bottom: 5rem;
}

.intro-job-title {
  padding-top: 1.2rem !important;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f2511b;
}

.job-title > span {
  font-weight: bold;
}

.job-title {
  padding: 5px 0 0 !important;
}

.job-date {
  padding: 0;
  font-size: 0.8rem;
  color: #666666;
  text-transform: uppercase;
}

.job-description {
  padding: 0 0 10px !important;
}

.single-project {
  padding-top: 5px;
}

.project-title {
  font-weight: bold;
  padding: 5px 0 0 !important;
}

.project-date {
  padding: 0;
  font-size: 0.8rem;
  color: #666666;
  text-transform: uppercase;
}

.special {
  color: #eeeeee;
  font-weight: bold;
}

.descr {
  padding: 1.2rem 1.2rem 1.2rem 1.8rem;
  background: #ffffff;
}

p:not(.highlight) {
  text-align: justify;
  padding: 5px 0 10px 0;
}

ul {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: justify;
}

div[class^="grid-item"] > p {
  font-weight: bold;
}

.grid-item-1 {
  grid-area: item1;
}

.grid-item-2 {
  grid-area: item2;
}

.grid-item-3 {
  grid-area: item3;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}

.projects {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.project-preview {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 200px;
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.project-preview:hover {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

a {
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}
